<div class="flex justify-center items-center w-full h-screen">
  <div
    class="2xl:w-1/6 h-max rounded-md bg-white drop-shadow-2xl shadow-2xl px-4 pb-6"
  >
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <p class="text-center py-6 font-extrabold text-2xl">Forgot Password</p>
      <div class="flex flex-col gap-2">
        <app-auth-input
          label="Email"
          placeholder="Type your Email"
          src="assets/icons/email.svg"
          type="email"
          (changeText)="changeText('email', $event)"
          [error]="
            hasError('email', 'required')
              ? 'Email is required'
              : hasError('email', 'minlength')
                ? 'Minimum 6 characters'
                : ''
          "
          value="test@test.com"
        ></app-auth-input>

        <div class="px-5 mt-6">
          <app-submit-button
            label="Forgot Password"
            type="submit"
            customClass="px-5 rounded-full bg-gradient-to-r from-blue-500 to-pink-500 bg-[length:200%_200%] bg-left animate-gradient-reset hover:animate-gradient-move hover:bg-right shadow-lg transition-all focus:outline-none"
          ></app-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
